# Server Port
PORT=4000

# Session Secret (Random string for security)
SESSION_SECRET=your_session_secret_here

# MongoDB Connection String
MONGO_URI=mongodb://127.0.0.1:27017/ulepDB

# Gmail / Nodemailer Credentials
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_16_digit_app_password